<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>Simply Planner</title>
    <link th:href="@{style.css}" href="../static/style.css" rel="stylesheet" type="text/css" media="screen"/>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script type="text/javascript">

        $("document").ready(function($) {
               $(".main").delay(100).show("fade",1000);
 });
    </script>
</head>
<body>
<center class="main">
<p>Dodawanie powiodło się</p>
<p th:text="${todo.description}"/>
<a class="button" href="/">OK</a>
<a class="button" href="/addtaskform">DODAJ NASTĘPNE</a>
</center>
</body>
</html>